
<div ng-controller="BookSearchController">
    <div style="padding:20px;">
        <h2 style="text-align:center;"> Book Editor: </h2>
                <form name="bookEditForm" novalidate>
                            <div class="form-group">

                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <input type="text" class="form-control" ng-model="newTitle" name="title" placeholder="New title here" required>
                                    <p class="help-block" ng-if="bookEditForm.title.$error.required">The title is required</p>
                                </div>
                                <button  class="btn btn-primary" ng-click="bookEditValidation(book, newTitle)">Edit</button>

                            </div>
                            <button  class="btn btn-primary" ng-click="ok()">OK</button>
                            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

                </form>
    </div>
</div>
